body {
  text-align: center;
  color: royalblue;
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  color: royalblue;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  text-align: center;
}

.card h1 {
  font-size: 1.25em;
}

.new_style, .edit_style {
  margin-left: 30%;
  min-width: 300px;
  margin-right: 30%;
  background-color: maroon;
  border-radius: 20px;
  margin-bottom: 3em;
  margin-top: .3em;
}